<div class="page">

    <div class="main-menu-island">
      <div class="menu-column">
        <h3>Tagok</h3>
        <button class="menu-button" (click)="openMembers()">Tag lekérdezése</button>
        <button class="menu-button" (click)="openEditMember()">Tag módosítása</button>
        <button class="menu-button" (click)="openCreateMember()">Tag felvétele</button>
      </div>
  
      <div class="menu-column">
        <h3>Készletnyílvántartás</h3>
        <button class="menu-button" (click)="openItems()">Keresés</button>
        <button class="menu-button" (click)="openCreateItem()">Új</button>
        <button class="menu-button" (click)="openEditItem()">Módosítás</button>
      </div>
  

      <div class="menu-column">
        <h3>Kölcsönzés</h3>
        <button class="menu-button" (click)="openLoans()">Kölcsönzések listázása</button>
        <button class="menu-button" (click)="openNewLoan()">Új kölcsönzés</button>
        <button class="menu-button" (click)="openReturns()">Visszahozatal</button> 
        <button class="menu-button" (click)="openLateLoans()">Késedelmes kölcsönzések</button> 
    </div>
    </div>

  