html, body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.page {
  min-height: 100vh;
  background-image: url('../../../public/konyvek.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.welcome-island {
  background-color: brown;
  padding: 2rem 3rem;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: white;
}

h1 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
}

.login-button {
  background-color: white;
  color: brown;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


